<div class="col-md-12" ng-controller="codeGenCtrl">
	<div class="row" >
		<div class="col-md-6">
			<h4>Text</h4>
			<textarea class="form-control" rows="10" style="height: 420px;"
				placeholder="Type text here..." ng-model="text" ng-change="gen()"></textarea>
		</div>	
		<div class="col-md-6">
			<h4>Code</h4>
			<div style="color: #C7254E; font-size: 120%; height: 420px; border: 1px solid #ddd; border-radius: 4px; overflow: auto; font-family: Courier New, Courier, monospace;"><div style="padding: 5px 10px 5px 10px;">{{code}}</div></div>
		</div>
	</div>
	<br />
</div>